<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT a Pokemon</title>
</head>
<body>
    <h1> Edit a Pokemon</h1>
    <!-- <form action="/info/<%= id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= pokemon.name %>"><br />
        Type: <input type="text" name="type" value="<%= pokemon.type %>"><br /><br />
        Stats: <% for(const key in pokemon.stats) { %>
            <br /> <%= key %>: <input type="text" name="<%= key %>" value="<%= pokemon.stats[key]%>"><br />
            <% } %>
        <input type="submit" name="" value="Submit Changes"/>
    </form> -->
</body>
</html>