<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeDex</title>
  </head>
  <body>
    <h1>PokeDex</h1>
    <ul>
      <% for (let i=0;i < pokemon.length; i++) { %>
      <li>
          <a href="/info/<%=i%>">
        <span><%= pokemon[i].name %></span>
        <img src="<%= pokemon[i].img %>" width="65" />
        </a>
        <form action="/info/<%= i%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <form action="/edit/<%=i%>">
              <input type="submit" value="EDIT" />
          </form> 
      </li>
      <% } %>
    </ul>
    <% console.log(pokemon[0]) %>
  </body>
  <style>
    li {
      padding: 10px;
      border: 5px;
      border-style: solid;
      display: inline-block;
      max-width: 100px;
      min-height: 100px;
    }
    ul {
      border: 5px;
      border-style: solid;
      padding: 5px;
    }
    span {
      border: 5px;
      border-style: solid;
      border-color: black;
    }

    img {
        padding: 10px;
    }
  </style>
</html>
