<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon INFO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1><%= pokemon.name %></h1>
    <h2>Pokemon ID: <%= pokemon.id %></h2>
    <h2>Type: </h2><% for(let i=0; i < pokemon.type.length;i++) { %>
        <h4><%= pokemon.type[i] %></h4>
        <% } %>
    <div>
      <h3>Stats:</h3>
      <p>
        HP : <%= pokemon.stats.hp %> <br />
        Attack: <%= pokemon.stats.attack %>
        <br />Defense: <%= pokemon.stats.defense%> <br />Special Attack: <%=
        pokemon.stats.spattack%> <br />Special Defense: <%=
        pokemon.stats.spdefense%> <br />Speed: <%= pokemon.stats.speed %>
      </p>
    </div>
    <div>
        <h3>Moves</h3>
        <ul>
        <% for(let i=0;i < pokemon.moves.level.length;i++) { %>
            <li><%= pokemon.moves.level[i].name %> </li>
        <% } %>
        </ul>
    </div>
    <div>
        <img src="<%= pokemon.img %>"/>
    </div>
    <a href="/">Back to Pokedex</a>
  </body>
  <style>
    body {
      font-family: 'Press Start 2P', cursive;
      background-color: #5c1e1e;
      color: white;
    }
  </style>
</html>
